﻿

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.table-header {
    background-color: #808080;
    color: white;
}
.body-content {
    margin-top: 60px;
}

.btn-default {
    color: #78C2AD;
    background-color: transparent;
    background-image: none;
    border-color: #78C2AD;
}

.btn-default:hover {
    color: #fff;
    background-color: #78C2AD;
    border-color: #78C2AD;
}

.btn-default:focus, .btn-default.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(120, 194, 173, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(120, 194, 173, 0.5);
}

.btn-default.disabled, .btn-default:disabled {
    color: #78C2AD;
    background-color: transparent;
}

.btn-default:not(:disabled):not(.disabled):active, .btn-default:not(:disabled):not(.disabled).active,
.show > .btn-default.dropdown-toggle {
    color: #fff;
    background-color: #78C2AD;
    border-color: #78C2AD;
}

.btn-default:not(:disabled):not(.disabled):active:focus, .btn-default:not(:disabled):not(.disabled).active:focus,
.show > .btn-default.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(120, 194, 173, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(120, 194, 173, 0.5);
}
